<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <div class="row">
      <div class="col-xs-4 col-md-6 col-12-lg mx-auto">
        <h1 class="header-title" translate>
          email/forgotpassword
        </h1>
        <div *ngIf="emailHasBeenSent" class='alert alert-success'>
            {{ 'email/forgotpassword/activation_email_sent' | translate }}
        </div>
        <div *ngIf="cannotFindEmail" class='alert alert-danger-custom'>
            {{ 'email/forgotpassword/error_cannot_find_email' | translate }}
        </div>
        <div *ngIf="unexpectedError" class='alert alert-danger-custom'>
            {{ 'generic/error' | translate }}
            {{ unexpectedErrorStr }}
        </div>
        <mat-card *ngIf="!emailHasBeenSent">
          <div class="alert alert-info" translate>
            email/forgotpassword/you_will_be_sent_an_email_with_link_in_it 
          </div>
          <div class="card-body">
            <form #forgottenPasswordForm="ngForm" (ngSubmit)="onSubmitEmail(forgottenPasswordForm)">
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>generic/email</mat-label>
                  <input matInput type="email"
                    id="email"
                    name="email"
                    class="form-control" 
                    maxlength="255"
                    ngModel
                    #email="ngModel"
                    [ngClass]="{ 'is-invalid': email.touched && email.value === '' }"
                    placeholder="{{ 'email/forgotpassword/type_email' | translate }}" 
                    email
                    required>
                </mat-form-field>
                <span class="help-block" *ngIf="!email.valid && email.touched" translate>
                  email/forgotpassword/please_enter_a_valid_email
                </span>
              </div>
              <br>
              <button mat-raised-button 
                color="primary"
                type="submit"  
                translate="generic/next">
              </button>
            </form>
            <span class="help-block">{{ errorForgottenPassword }}</span>
          </div>
        </mat-card>
      </div>
    </div>
    <br/>
  </div>
</div>