<div class="content" role="main">
  <div class="container" style="padding-top: 40px;">
    <div class="row">
      <div class="col-xs-4 col-md-6 col-12-lg mx-auto">
        <div *ngIf="passwordHasbeenReset" class='alert alert-success'>
            {{ 'email/resetforgottenpassword/password_has_been_reset' | translate }}<br/><br/>
            <button class="mat-raised-button mat-primary" type="button" (click)="login()"
              translate>
              login/button/sign_in
            </button>
        </div>
        <div *ngIf="passwordResetLinkAlreadyUsed" class='alert alert-danger-custom'>
            {{ 'email/resetforgottenpassword/the_link_has_already_been_used' | translate }}
        </div>
        <div *ngIf="passwordResentLinkInvalid" class='alert alert-danger-custom'>
            {{ 'email/resetforgottenpassword/link_is_invalid' | translate }}
        </div>
        <div *ngIf="passwordNotReset" class='alert alert-danger-custom'>
            {{ 'email/resetforgottenpassword/something_went_wrong_could_not_reset_password' | translate }}
        </div>
        <div *ngIf="passwordResetError" class='alert alert-danger-custom'>
            {{ 'email/resetforgottenpassword/something_went_wrong_could_not_reset_password' | translate }}
        </div>
        <div *ngIf="!passwordHasbeenReset && !passwordResentLinkInvalid" class="card">
          <div class="card-header" translate>
            email/resetforgottenpassword/reset_password
          </div>
          <div class="card-body">
            <form #resetForgottenPasswordForm="ngForm" 
                  (ngSubmit)="onSubmitNewPassword(resetForgottenPasswordForm)">
              <div class="form-group">
                <label for="password" translate>
                  email/resetforgottenpassword/password
                </label>
                <input type="password" 
                      id="password" 
                      class="form-control" 
                      maxlength="30"
                      ngModel 
                      name="password" 
                      required 
                      reverse="true" 
                      appValidateEqual="passwordAgain"
                      #password="ngModel" 
                      placeholder="{{ 'email/resetforgottenpassword/type_password' | translate }}">
              </div>
              <div class="form-group">
                <label for="passwordAgain" translate>
                    email/resetforgottenpassword/password_again 
                </label>
                <input type="password" 
                      id="passwordAgain" 
                      class="form-control" 
                      maxlength="30"
                      ngModel 
                      name="passwordAgain" 
                      required 
                      reverse="false" 
                      appValidateEqual="password"
                      #passwordAgain="ngModel" 
                      placeholder="{{ 'email/resetforgottenpassword/type_password_again' | translate }}">
                <span [hidden]="passwordAgain.valid || (passwordAgain.pristine)" 
                      class="help-block" translate>
                  email/resetforgottenpassword/password_mismatch
                </span>
              </div>
              <button class="mat-raised-button mat-primary" type="submit" 
                      [disabled]="!resetForgottenPasswordForm.valid" 
                      translate>
                email/resetforgottenpassword/reset
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>