<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="error-template" *ngIf="tokenError">
          <div class="header-title text-center">
            <h1 translate>Exam Token Error</h1>
          </div>
          <br/>
          <mat-card>
            <div class="card-body">
              <p class="lighter-font" translate>
                The exam link you have used is invalid. This means that the exam you are trying to access is no longer
                available. The exam has either been deleted or the invite that was sent to you has been retracted.
              </p>
              <br/>
              <button mat-raised-button 
                color="primary"
                routerLink="/"
                type="button">
                {{ 'generic/home'| translate }}
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>