<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/dashboard" translate>
            generic/dashboard
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/view">
            {{examName}}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{sectionId}}/{{sectionName}}/view" translate>
            {{sectionName}}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'teacher/exam/section/question/add_question' | translate }}
        </li>
      </ol>
    </nav>
    <h1 class="header-title" translate>
      teacher/exam/section/question/add_a_question
    </h1>
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>
          {{ 'teacher/exam/section/question/pick_question_type' | translate }}
        </ng-template><br>
        <div class="row">
          <div class="col-md-10 col-lg-10 mx-auto">
            <mat-card>
              <div class="card-header" translate>
                teacher/exam/section/question/question_types
              </div>
              <div class="card-body">
                <mat-radio-group [(ngModel)]="questionType" name="questionType" aria-label="Select an option">
                  <mat-radio-button value="question">
                    <span style="white-space: normal;">
                      <b style="font-weight: 500;">Normal Question:</b> This is a normal type of a question where you ask a question and expect
                      an answer based on that question.
                    </span>
                  </mat-radio-button><br><br>
                  <mat-radio-button value="comprehensionQuestion">
                    <span style="white-space: normal;">
                      <b style="font-weight: 500;">Comprehension Question:</b> This is a type of question where we have a block of text giving context for
                          the questions to be asked. Several questions are then asked based on that block of text.
                    </span>
                  </mat-radio-button>
                </mat-radio-group>          
                <div>
                  <br>
                  <button mat-stroked-button 
                    matStepperNext
                    color="primary">
                    {{ 'generic/next'| translate }}
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-step>
      <mat-step *ngIf="questionType === 'comprehensionQuestion'">
        <ng-template matStepLabel>
          {{ 'teacher/exam/section/question/add_comprehension' | translate }}
        </ng-template><br>
        <div class="row">
          <div class="col-md-10 col-lg-10 mx-auto">
            <mat-card style="margin-top: 10px;">
              <div class="card-header" translate>
                teacher/exam/section/question/type_comprehension
              </div>
              <div class="card-body">
                <form #addComprehension="ngForm"
                  (ngSubmit)="onSubmitComprehension(addComprehension, stepper)"
                  style="margin-top: 10px;">
                  <div class="row">
                    <div class="card-body">
                      <div class="form-group">
                        <mat-form-field appearance="standard">
                          <mat-label translate>teacher/exam/section/comprehension</mat-label>
                          <textarea matInput type="text"
                            id="comprehension"
                            name="comprehension"
                            class="form-control" 
                            maxlength="10024"
                            ngModel
                            #comprehension="ngModel"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="3"
                            cdkAutosizeMaxRows="9"
                            [ngClass]="{ 'is-invalid': comprehension.touched && comprehension.value === '' }"
                            required>
                          </textarea>
                        </mat-form-field>
                        <span id="comprehension-error" class="form-error" translate hidden>
                          teacher/exam/section/question/please_provide_comprehension
                        </span>
                      </div>
                      <br><br>
                      <div class="form-group row">
                        <button mat-stroked-button 
                          matStepperPrevious
                          color="primary">
                          {{ 'generic/back'| translate }}
                        </button>&nbsp;&nbsp;
                        <button mat-stroked-button 
                          type="submit"
                          color="primary">
                          {{ 'generic/next'| translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{ 'teacher/exam/section/question/add_question' | translate }}</ng-template>
        <mat-card *ngIf="questionType === undefined" style="margin-top: 10px;">
          <p style="text-align: center;" class="lighter-font" translate>
            {{ 'teacher/exam/section/question/question_type_not_selected' | translate }}
          </p>      
          <div>
            <br>
            <button mat-stroked-button 
              matStepperPrevious
              color="primary">
              {{ 'generic/back'| translate }}
            </button>
          </div>
        </mat-card>
        <form #addQuestion="ngForm"
          (ngSubmit)="onSubmitQuestion(addQuestion, stepper)"
          style="margin-top: 10px;">
          <div class="row" *ngIf="questionType !== undefined">
            <div class="col-md-10 col-lg-10 mx-auto">
              <mat-card>
                <div class="card-body">
                  <div class="form-group">
                    <mat-form-field appearance="standard">
                      <mat-label translate>teacher/exam/section/question</mat-label>
                      <textarea matInput type="text"
                        id="question"
                        name="question"
                        class="form-control" 
                        maxlength="1024"
                        ngModel
                        #question="ngModel"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="3"
                        cdkAutosizeMaxRows="9"
                        [ngClass]="{ 'is-invalid': question.touched && question.value === '' }"
                        required>
                      </textarea>
                    </mat-form-field>
                    <span id="question-error" class="form-error" translate hidden>
                      teacher/exam/section/question/please_provide_question
                    </span>
                  </div>
                  <div class="form-group">
                    <mat-form-field appearance="standard">
                      <mat-label translate>teacher/exam/section/question/score</mat-label>
                      <input matInput type="number"
                        id="score"
                        name="score"
                        class="form-control" 
                        maxlength="100"
                        ngModel
                        #score="ngModel"
                        pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"
                        [ngClass]="{ 'is-invalid': score.touched && score.value === '' && score.invalid }"
                        required>
                    </mat-form-field>
                    <span id="score-error" class="form-error" translate hidden>
                      teacher/exam/section/question/please_add_score
                    </span>
                  </div>
                  <div class="form-group" *ngIf="initialData?.examTimedByQuestion">
                    <mat-label translate
                      style="color: #7f7f7f; font-size: 14px;">teacher/exam/section/question/duration
                    </mat-label>
                    <ngb-timepicker
                      id="duration"
                      name="duration"
                      ngModel
                      #duration="ngModel"
                      [seconds]="true"
                      [ngClass]="{ 'is-invalid': duration.touched && duration.value === '' }">
                    </ngb-timepicker>
                    <span style="margin: 0;" id="duration-error" class="form-error" translate hidden>
                      teacher/exam/section/question/please_type_duration
                    </span>
                  </div>
                  <br><br>
                  <div class="form-group row">
                    <button mat-stroked-button 
                      matStepperPrevious
                      color="primary">
                      {{ 'generic/back'| translate }}
                    </button>&nbsp;&nbsp;
                    <button mat-stroked-button 
                      type="submit"
                      color="primary">
                      {{ 'generic/next'| translate }}
                    </button>
                  </div>
                </div>    
              </mat-card>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          {{ 'teacher/exam/section/question/pick_answer_type' | translate }}
        </ng-template><br>
        <div class="row">
          <div class="col-md-10 col-lg-10 mx-auto">
            <mat-card style="margin-top: 10px;">
              <div class="card-header" translate>
                teacher/exam/section/question/answer_types
              </div>
              <div class="card-body">
                <mat-radio-group [(ngModel)]="answerType" name="answerType" aria-label="Select an option">
                  <mat-radio-button value="multipleChoiceSingleAnswer">
                    <span style="white-space: normal;">
                      <b style="font-weight: 500;">Multiple choice single answer:</b> In this case, you provide a list of possible answers to the question.
                        Only one answer is correct for the given question.
                    </span>
                  </mat-radio-button><br><br>
                  <mat-radio-button value="multipleChoiceMultipleAnswers">
                    <span style="white-space: normal;">
                      <b style="font-weight: 500;">Multiple choice multiple answers:</b> In this case, you also provide a list of possible answers to the question.
                        There can be more than one correct answer for this question. An examinee gets the points for the question only when they have selected all 
                        the correct answers. 
                    </span>
                  </mat-radio-button><br><br>
                  <mat-radio-button value="textAnswer">
                    <span style="white-space: normal;">
                      <b style="font-weight: 500;">Text answer:</b> In this case, there are no choices given. The examinee will provide their own answer. You will 
                        then come and verify if the answer given is correct and award points accordingly.
                    </span>
                  </mat-radio-button>
                  <!-- <br><br> 
                  <mat-radio-button value="imageAnswer">
                    <span style="white-space: normal;">
                      <b style="font-weight: 500;">Image answer:</b> In this case, there are no choices given. The examinee will provide their own answer. This answer
                        will be in the form of an image. The examinee will upload an image then you will verify if the answer given is correct and award points accordingly.
                    </span>
                  </mat-radio-button> -->
                </mat-radio-group>   
                <br><br>
                <div class="form-group row">
                  <button mat-stroked-button 
                    matStepperPrevious
                    color="primary">
                    {{ 'generic/back'| translate }}
                  </button>&nbsp;&nbsp;
                  <button mat-stroked-button 
                    matStepperNext
                    color="primary">
                    {{ 'generic/next'| translate }}
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          {{ 'teacher/exam/section/question/add_answers' | translate }}
        </ng-template><br>
        <mat-card *ngIf="answerType === undefined" style="margin-top: 10px;">
          <p style="text-align: center;" class="lighter-font" translate>
            {{ 'teacher/exam/section/question/answer_type_not_selected' | translate }}
          </p>
        </mat-card>
        <form #addAnswers="ngForm" 
          (ngSubmit)="onSubmitAnswers(addAnswers, stepper)"
          *ngIf="answerType === 'multipleChoiceSingleAnswer'"
          style="margin-top: 10px;">
          <div class="row">
            <div class="col-md-10 col-lg-10 mx-auto">
              <mat-card>
                <div class="card-body">
                  <p style="text-align: center;" class="lighter-font" translate>
                    teacher/exam/section/question/answers_info
                  </p>
                  <span id="less-answers-error" class="form-error answers-error" translate hidden>
                    teacher/exam/section/question/less_answers_error
                  </span>
                  <span id="no-correct-answer-error" class="form-error answers-error" translate hidden>
                    teacher/exam/section/question/no_correct_answer_error
                  </span>
                  <div class="row"
                    *ngFor="let answerRequest of addMultipleChoiceQuestionAnswerRequests; trackBy: trackByFn let i=index"
                    style="align-items: center; justify-content: space-between;">
                    <mat-radio-button
                      (change)="getSingleCheckedAnswer(answerRequest)">
                    </mat-radio-button>
                    <div class="form-group" style="width: 60%;">
                      <mat-form-field appearance="standard">
                        <mat-label translate>teacher/exam/section/question/answer</mat-label>
                        <textarea matInput type="text"
                          id="answer_{{i}}"
                          name="answer_{{i}}"
                          class="form-control"
                          maxlength="1024"
                          [(ngModel)]="answerRequest.answerText"
                          #answer_{{i}}="ngModel"
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="3"
                          cdkAutosizeMaxRows="9">
                        </textarea>
                      </mat-form-field>
                      <span id="answer_{{i}}-error" class="form-error" translate hidden>
                        teacher/exam/section/question/please_add_score
                      </span>
                    </div>
                    <button mat-stroked-button 
                      color="warn"
                      type="button"
                      (click)="deleteAnswer(answerRequest)">
                      {{ 'teacher/exam/section/question/remove_answer'| translate }}
                    </button>
                  </div>
                  <button mat-stroked-button 
                    (click)="addAnswer()"
                    color="primary"
                    type="button">
                    {{ 'teacher/exam/section/question/add_answer'| translate }}
                  </button>
                </div>
              </mat-card>
              <br>
              <div class="row" 
                *ngIf="questionType === 'comprehensionQuestion'"
                style="justify-content: center;">
                <button mat-raised-button
                  color="primary"
                  (click)="saveAndAddQuestionForComprehension(addAnswers, stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_add_question_for_comprehension'| translate }}
                </button>
              </div>
              <div class="form-group row" style="justify-content: space-between; padding-top: 20px;">
                <button mat-raised-button 
                  color="primary"
                  (click)="saveAndAddNewQuestion(addAnswers, stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_add_question'| translate }}
                </button>
                <button mat-raised-button 
                  color="primary"
                  (click)="saveAndExit(addAnswers, stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_exit'| translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
        <form #addAnswers="ngForm" 
          (ngSubmit)="onSubmitAnswers(addAnswers, stepper)"
          *ngIf="answerType === 'multipleChoiceMultipleAnswers'"
          style="margin-top: 10px;">
          <div class="row">
            <div class="col-md-10 col-lg-10 mx-auto">
              <mat-card>
                <div class="card-body">
                  <p style="text-align: center;" class="lighter-font" translate>
                    teacher/exam/section/question/answers_info
                  </p>
                  <span id="less-answers-error" class="form-error answers-error" translate hidden>
                    teacher/exam/section/question/less_answers_error
                  </span>
                  <span id="no-correct-answer-error" class="form-error answers-error" translate hidden>
                    teacher/exam/section/question/no_correct_answer_error
                  </span>
                  <div class="row"
                    *ngFor="let answerRequest of addMultipleChoiceQuestionAnswerRequests; trackBy: trackByFn let i=index"
                    style="align-items: center; justify-content: space-between;">
                    <mat-checkbox id="multiple-choice-answer-checkbox_{{i}}"
                      (change)="getMultipleCheckedAnswer($event, answerRequest)">
                    </mat-checkbox>
                    <div class="form-group" style="width: 60%;">
                      <mat-form-field appearance="standard">
                        <mat-label translate>teacher/exam/section/question/answer</mat-label>
                        <textarea matInput type="text"
                          id="answer_{{i}}"
                          name="answer_{{i}}"
                          class="form-control"
                          maxlength="1024"
                          [(ngModel)]="answerRequest.answerText"
                          #answer_{{i}}="ngModel"
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="3"
                          cdkAutosizeMaxRows="9">
                        </textarea>
                      </mat-form-field>
                      <span id="answer_{{i}}-error" class="form-error" translate hidden>
                        teacher/exam/section/question/please_add_score
                      </span>
                    </div>
                    <button mat-stroked-button 
                      color="warn"
                      type="button"
                      (click)="deleteAnswer(answerRequest)">
                      {{ 'teacher/exam/section/question/remove_answer'| translate }}
                    </button>
                  </div>
                  <button mat-stroked-button 
                    (click)="addAnswer()"
                    color="primary"
                    type="button">
                    {{ 'teacher/exam/section/question/add_answer'| translate }}
                  </button>
                </div>
              </mat-card>
              <br>
              <div class="row" 
                *ngIf="questionType === 'comprehensionQuestion'"
                style="justify-content: center;">
                <button mat-raised-button
                  color="primary"
                  (click)="saveAndAddQuestionForComprehension(addAnswers, stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_add_question_for_comprehension'| translate }}
                </button>
              </div>
              <div class="form-group row" style="justify-content: space-between; padding-top: 20px;">
                <button mat-raised-button 
                  color="primary"
                  (click)="scroll(top)"
                  (click)="saveAndAddNewQuestion(addAnswers, stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_add_question'| translate }}
                </button>
                <button mat-raised-button 
                  color="primary"
                  (click)="saveAndExit(addAnswers, stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_exit'| translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
        <form #addTextAnswer="ngForm" 
          (ngSubmit)="onSubmitTextAnswer(stepper)"
          *ngIf="answerType === 'textAnswer'"
          style="margin-top: 10px;">
          <div class="row">
            <div class="col-md-10 col-lg-10 mx-auto">
              <mat-card>
                <div class="card-body">
                  <p style="text-align: center;" class="lighter-font" translate>
                    teacher/exam/section/question/text_answer_info
                  </p>
                </div>
              </mat-card>
              <br>
              <div class="row" 
                *ngIf="questionType === 'comprehensionQuestion'"
                style="justify-content: center;">
                <button mat-raised-button
                  color="primary"
                  (click)="saveAndAddQuestionForComprehension(addTextAnswer, stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_add_question_for_comprehension'| translate }}
                </button>
              </div>
              <div class="form-group row" style="justify-content: space-between; padding-top: 20px;">
                <button mat-raised-button 
                  color="primary"
                  (click)="scroll(top)"
                  (click)="saveAndAddNewQuestion(addTextAnswer, stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_add_question'| translate }}
                </button>
                <button mat-raised-button 
                  color="primary"
                  (click)="saveTextAnswerAndExit(stepper)"
                  type="button">
                  {{ 'teacher/exam/section/question/save_and_exit'| translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
        <div>
          <br>
          <button mat-stroked-button 
            matStepperPrevious
            color="primary">
            {{ 'generic/back'| translate }}
          </button>
        </div>
      </mat-step> 
    </mat-horizontal-stepper>
  </div>
</div>