.local {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 20vw;
  height: 20vh;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.remote {
  width: 200px;
  height: 150px;
}

// .remote-videos {
//   position: relative;
// }

.remote-videos {
  display: grid;
  width: 100%;
  grid-row-gap: .5em;
  grid-column-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 120px);
}

.video-actions {
  background-color: #020202a3;
  position: absolute;
  bottom: -30px;
  width: 200px;
  height: 2rem;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mic {
  color: white;
  cursor: pointer;
}