<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/dashboard" translate>
            generic/dashboard
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/examrooms/rooms" translate>
            teacher/rooms
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'teacher/rooms/exam_room' | translate }}
        </li>
      </ol>
    </nav>
    <h1 class="header-title" translate>
      teacher/results/finalize_scoring
    </h1>
    <div class="row">
      <div class="col-md-12">
        <div [id]="localCallId" class="local"></div>
        <div class="remote-videos">
          <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote">
            <!-- <mat-icon>mic</mat-icon> -->
            <!-- <div style="background-color: blue; grid-area: 1 / 1 / 2 / 2;"></div> -->
            <div class="video-actions" [id]="callId">
              <mat-icon id="mic-on" class="mic" (click)="muteAudio(callId)">mic</mat-icon>
              <mat-icon id="mic-off" class="mic" (click)="unMuteAudio(callId)" hidden>mic_off</mat-icon>
              <button mat-raised-button
                style="line-height: 26px !important;"
                color="primary"
                type="button"
                (click)="terminateStudentExam(callId)">
                Terminate exam
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
