<p>view-invite works!</p>
<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/dashboard" translate>
            generic/dashboard
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/view">
            {{examName}}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/{{examName}}/invites">
            {{ 'teacher/exam/invite/invites' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'teacher/exam/invite/view_invite' | translate }}
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-10 col-lg-10 mx-auto">
        <mat-card>
          <div class="card-header">
            {{initialData?.name}}
            <div class="float-right">
              <mat-icon
                class="icon-button"
                routerLink="/teacher/exam/{{examId}}/{{examName}}/invite/{{inviteId}}/edit">
                  edit
              </mat-icon>&nbsp;
              <mat-icon
                class="icon-button"
                color="warn"
                (click)="deleteInviteConfirmation(deleteInvite, inviteId)">
                  delete
              </mat-icon>
            </div>
          </div>
          <div class="card-body">
            <p *ngIf="initialData?.examStartDate !== null" class="d-flex flex-wrap">
              <span class="font-weight-bold mr-2">Exam start date:</span>
              <span>{{initialData?.examStartDate | date: 'mediumDate'}}</span>
            </p>
            <p *ngIf="initialData?.examEndDate !== null" class="d-flex flex-wrap">
              <span class="font-weight-bold mr-2">Exam end date:</span>
            <span>{{initialData?.examEndDate | date: 'mediumDate'}}</span>
            </p>
            <p class="d-flex flex-wrap">
              <span class="font-weight-bold mr-2" translate>teacher/exam/invite/is_pausable</span>
              <span *ngIf="initialData?.pausable" translate>generic/yes</span>
              <span *ngIf="!initialData?.pausable" translate>generic/no</span>
            </p>
            <p class="d-flex flex-wrap" *ngIf="initialData?.examStartTime !== null">
              <span class="font-weight-bold mr-2">Exam start time:</span>
              <span>{{initialData?.examStartTime}}</span>
            </p>
            <div class="d-flex align-content-center">
              <span class="font-weight-bold mr-2 align-self-center">Share exam invite:</span>
              <div class="d-flex;" [matTooltip]="copyState" (click)="changeCopyState()">
                <button mat-stroked-button 
                  color="primary"
                [cdkCopyToClipboard]="initialData?.inviteCode"
                  type="button">
                  Click to copy then share
                </button>
              </div>
            </div>
          </div>
        </mat-card>
        <br>
        <mat-card>
          <div class="header card-header d-flex flex-wrap justify-content-between flex-lg-row-reverse">
            <div><button mat-raised-button 
              color="primary"
              routerLink="/teacher/exam/{{examId}}/{{examName}}/invite/{{inviteId}}/send"
              type="button">
              Send Invites
            </button></div>
            <div>
              <span class="align-self-center mt-2" translate>teacher/exam/invite/emails_sent_to_exam_invite</span>
              <button mat-stroked-button 
                color="primary"
                style="min-width: 0;"
                class="rounded-circle ml-2"
                type="button">
                {{initialData?.examTokenTransfers.length}}
              </button>
            </div>
          </div>
          <div class="card-body">
            <p style="text-align: center;" class="lighter-font" translate
              *ngIf="initialData?.examTokenTransfers.length < 1">
              teacher/exam/invite/no_emails_with_invite_info
            </p>
            <input matInput type="email" placeholder="Search" [(ngModel)]="searchText">
            <div class="email-holder">
              <div *ngFor="let examTokenTransfer of examTokenTransfers | emailFilter: searchText trackBy: trackByFn index as i">
                <div class="d-flex justify-content-between align-content-center">
                  {{i+1}}
                  <div class="col-9"
                  appHighlight [searchedWord]="searchText" [content]="examTokenTransfer.email"  
                  [classToApply]="'font-weight-bold'" [setTitle]="'true'">
                    {{examTokenTransfer.email}}
                  </div>
                  <button mat-button 
                    color="primary"
                    class="col align-self-center"
                    style="min-width: min-content;"
                    (click)="unsendConfirmation(unsendInviteToEmail, examTokenTransfer.examTokenId, examTokenTransfer.email)"
                    type="button">
                    {{ 'teacher/exam/invite/unsend_invite'| translate }}
                  </button>
                  <mat-icon matTooltip="Resend invite" 
                    class="col align-self-center" 
                    style="cursor: pointer;"
                    (click)="resendInviteConfirmation(resendInviteToEmail, examTokenTransfer.examTokenId, examTokenTransfer.email)">
                    refresh
                  </mat-icon>
                </div>
              </div>
              <form #sendNewInvite="ngForm">
                <div *ngFor="let email of emails; trackBy: trackByFn index as i">
                  <div id="email-row_{{i}}" class="d-flex justify-content-between align-content-center">
                    <div class="col-9">
                      <mat-form-field appearance="standard">
                        <mat-label translate>teacher/exam/invite/email</mat-label>
                        <input matInput type="email"
                          id="email_{{i}}"
                          name="email_{{i}}"
                          class="form-control" 
                          maxlength="100"
                          [(ngModel)]="emails[i]"
                          #email_{{i}}="ngModel"
                          email>
                      </mat-form-field>
                      <span id="email_{{i}}-error" class="form-error" translate hidden>
                        teacher/exam/invite/please_enter_valid_email
                      </span>
                      <div id="emailresponse_{{i}}-error" class="form-error" style="height: auto; white-space: normal; position: relative;" translate hidden>
                      </div>
                      <button mat-raised-button
                        id="tokensbutton-{{i}}"
                        color="primary"
                        type="button"
                        routerLink="/teacher/tokens"
                        hidden>
                        Add more tokens
                      </button>
                    </div>
                    <button mat-button 
                      color="primary"
                      class="col align-self-center"
                      (click)="sendInviteClick(sendNewInvite, i)"
                      type="button">
                      {{ 'teacher/exam/invite/send_invite'| translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #resendInviteToEmail>
  <div class="modal-body text-center">
    <div class="modal-header">
      <label><b translate>Resend Invite</b></label>
    </div>
    <p>
      {{ 'teacher/exam/invite/resend_invite_info' | translate:{email: email} }}
    </p>
    <div class="modal-footer" style="justify-content: space-between;">
      <button mat-raised-button 
        color="primary"
        (click)="resendInvite()"
        type="button">
        {{ 'generic/yes'| translate }}
      </button>
      <button mat-stroked-button 
        color="primary"
        (click)="decline()"
        type="button">
        {{ 'generic/no'| translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #unsendInviteToEmail>
  <div class="modal-body text-center">
    <div class="modal-header">
      <label><b translate>teacher/exam/invite/unsend_invite</b></label>
    </div>
    <p>
      {{ 'teacher/exam/invite/unsend_invite_info' | translate:{email: email} }}
    </p>
    <div class="modal-footer" style="justify-content: space-between;">
      <button mat-raised-button 
        color="primary"
        (click)="unsendInvite()"
        type="button">
        {{ 'generic/yes'| translate }}
      </button>
      <button mat-stroked-button 
        color="primary"
        (click)="decline()"
        type="button">
        {{ 'generic/no'| translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #deleteInvite>
  <div class="modal-body text-center">
    <div class="modal-header">
      <label><b translate>teacher/exam/invite/delete_invite</b></label>
    </div>
    <div class="modal-body">
      <p>
        {{ 'teacher/exam/invite/delete_invite_info' | translate }}
      </p>
    </div>
    <div class="modal-footer" style="justify-content: space-between;">
      <button mat-raised-button 
        color="primary"
        (click)="deleteInviteConfirmed()"
        type="button">
        {{ 'generic/yes'| translate }}
      </button>
      <button mat-stroked-button 
        color="primary"
        (click)="decline()"
        type="button">
        {{ 'generic/no'| translate }}
      </button>
    </div>
  </div>
</ng-template>