.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 440px;
  display: inline-block;
  background-color: whitesmoke;
  padding: 0 5px;
}

.email-holder {
  padding: 10px 30px;
  border: #dcdcdca8 1px solid;
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: auto;
  max-height: 500px;
}
