.description-div {
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.mat-expansion-panel {
  margin-bottom: 1em;
}

.mat-accordion > .mat-expansion-panel-spacing:last-child {
  margin-bottom: 1em;
}

.header {
  padding: .4rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.duration-div {
  background-color: whitesmoke;
  padding: 5px;
  display: inline;
}