<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{examName}}
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-8 col-lg-8 mx-auto">
        <mat-card>
          <div class="card-header">
            {{initialData?.name}}
            <div class="float-right">
              <mat-icon
                class="icon-button"
                routerLink="/teacher/exam/{{examId}}/{{examName}}/edit">
                  edit
              </mat-icon>&nbsp;
              <mat-icon
                class="icon-button"
                color="warn">
                  delete
              </mat-icon>
            </div>
          </div>
          <div class="card-body">
            <div class="description-div">{{initialData?.description}}</div>
            <div class="time-div">
              <div><b>The exam will start on: </b>{{startDate | date: 'full'}}</div>
              <div><b>The exam duration is: </b>
                <span *ngIf="hours === 1">{{hours}} hour</span>
                <span *ngIf="hours > 1">{{hours}} hours</span>
                <span *ngIf="minutes === 1 && hours > 0"> and {{minutes}} minute</span>
                <span *ngIf="minutes > 1 && hours > 0"> and {{minutes}} minutes</span>
                <span *ngIf="minutes === 1">{{minutes}} minute</span>
                <span *ngIf="minutes > 1">{{minutes}} minutes</span>
              </div>
            </div>
          </div>
        </mat-card>
        <br>
        <mat-card>
          <div class="header card-header" translate>
            teacher/exam/section/sections
            <button mat-stroked-button 
              routerLink="/teacher/exam/{{examId}}/{{examName}}/section/create"
              class="float-right"
              color="primary"
              type="button">
              {{ 'teacher/exam/section/add_section'| translate }}
            </button>
          </div>
          <div class="card-body">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel *ngFor="let section of initialData?.sectionTransfers">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span style="font-weight: 500;">
                      {{ section.name }}
                    </span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <button mat-stroked-button 
                      routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{section.sectionId}}/{{section.name}}/view"
                      class="float-right"
                      color="primary"
                      type="button">
                      {{ 'teacher/exam/section/view_section' | translate }}
                    </button>
                    <mat-icon
                      style="margin-left: 5px;"
                      class="icon-button"
                      color="warn">
                        delete
                    </mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="color: rgba(0, 0, 0, 0.54)">
                  {{ section.description }}
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>