<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{initialData?.name}}
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-8 col-lg-8 mx-auto">
        <mat-card>
          <div class="card-header">
            {{initialData?.name}}
            <div class="float-right">
              <mat-icon
                class="icon-button"
                routerLink="/teacher/exam/{{examId}}/edit">
                  edit
              </mat-icon>&nbsp;
              <mat-icon
                class="icon-button"
                color="warn"
                (click)="deleteExamConfirmation(deleteExam)">
                  delete
              </mat-icon>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="initialData?.description !== ''" class="description-div">{{initialData?.description}}</div>
            <div *ngIf="initialData?.duration != null" class="duration-div">
              This exam will take:
              <span *ngIf="time.hour > 1">{{time.hour}} hours&nbsp;</span>
              <span *ngIf="time.hour === 1">{{time.hour}} hour&nbsp;</span>
              <span *ngIf="time.minute > 1">{{time.minute}} minutes&nbsp;</span>
              <span *ngIf="time.minute === 1">{{time.minute}} minute&nbsp;</span>
              <span *ngIf="time.second > 1">{{time.second}} seconds&nbsp;</span>
              <span *ngIf="time.second === 1">{{time.second}} second&nbsp;</span>
            </div>
            <button mat-stroked-button 
              *ngIf="initialData?.hasInvites"
              routerLink="/teacher/exam/{{examId}}/{{initialData?.name}}/invites"
              color="primary"
              style="margin-top: 20px;"
              type="button">
              {{ 'teacher/exam/invite/send_invites'| translate }}
            </button>
            <button mat-stroked-button 
              *ngIf="!initialData?.hasInvites"
              routerLink="/teacher/exam/{{examId}}/{{initialData?.name}}/invite/create"
              color="primary"
              style="margin-top: 20px;"
              type="button">
              {{ 'teacher/exam/invite/send_invites'| translate }}
            </button>
          </div>
        </mat-card>
        <br>
        <mat-card>
          <div class="header card-header" translate>
            teacher/exam/section/sections
            <button mat-stroked-button 
              routerLink="/teacher/exam/{{examId}}/{{initialData?.name}}/section/create"
              class="float-right"
              color="primary"
              type="button">
              {{ 'teacher/exam/section/add_section'| translate }}
            </button>
          </div>
          <div class="card-body">
            <div *ngIf="initialData?.sectionTransfers.length < 1">
              <p style="text-align: center;" class="lighter-font" translate>
                teacher/exam/section/exam_section_info
              </p>
            </div>
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel *ngFor="let section of initialData?.sectionTransfers">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span style="font-weight: 500;">
                      {{ section.name }}
                    </span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <button mat-stroked-button 
                      routerLink="/teacher/exam/{{examId}}/{{initialData?.name}}/section/{{section.sectionId}}/{{section.name}}/view"
                      class="float-right"
                      color="primary"
                      type="button">
                      {{ 'teacher/exam/section/view_section' | translate }}
                    </button>
                    <mat-icon
                      style="margin-left: 5px;"
                      class="icon-button"
                      color="warn"
                      (click)="deleteSectionConfirmation(deleteSection, section.sectionId)">
                        delete
                    </mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="color: rgba(0, 0, 0, 0.54)">
                  {{ section.description }}
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteExam>
  <div class="modal-body text-center">
    <div class="modal-header">
      <label><b translate>teacher/exam/delete_exam</b></label>
    </div>
    <div class="modal-body">
      <p>
        {{ 'teacher/exam/delete_exam_info' | translate }}
      </p>
    </div>
    <div class="modal-footer" style="justify-content: space-between;">
      <button mat-raised-button 
        color="primary"
        (click)="deleteExamConfirmed()"
        type="button">
        {{ 'generic/yes'| translate }}
      </button>
      <button mat-stroked-button 
        color="primary"
        (click)="decline()"
        type="button">
        {{ 'generic/no'| translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #deleteSection>
  <div class="modal-body text-center">
    <div class="modal-header">
      <label><b translate>teacher/exam/section/delete_section</b></label>
    </div>
    <div class="modal-body">
      <p>
        {{ 'teacher/exam/section/delete_section_info' | translate }}
      </p>
    </div>
    <div class="modal-footer" style="justify-content: space-between;">
      <button mat-raised-button 
        color="primary"
        (click)="deleteSectionConfirmed()"
        type="button">
        {{ 'generic/yes'| translate }}
      </button>
      <button mat-stroked-button 
        color="primary"
        (click)="decline()"
        type="button">
        {{ 'generic/no'| translate }}
      </button>
    </div>
  </div>
</ng-template>
