<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/view">
            {{examName}}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/{{examName}}/invites">
            {{ 'teacher/exam/invite/invites' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'teacher/exam/invite/edit_invite' | translate }}
        </li>
      </ol>
    </nav>
    <h1 class="header-title" translate>
      teacher/exam/invite/edit_invite
    </h1>
    <form #editInvite="ngForm" (ngSubmit)="onSubmit(editInvite)">
      <div class="row">
        <div class="col-md-8 col-lg-8 mx-auto">
          <mat-card>
            <div class="card-body">
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/invite/name</mat-label>
                  <input matInput type="text"
                    id="name"
                    name="name"
                    class="form-control" 
                    maxlength="100"
                    [ngModel]="initialData?.name"
                    #name="ngModel"
                    [ngClass]="{ 'is-invalid': name.touched && name.value === '' }"
                    required>
                </mat-form-field>
                <span id="name-error" class="form-error" translate hidden>
                  teacher/exam/invite/please_invite_name
                </span>
              </div><br>
              <div class="form-group">
                <mat-label class="label" translate>teacher/exam/invite/pausable</mat-label><br>
                <mat-radio-group
                  style="border: 0;"
                  id="pausable"
                  name="pausable"
                  class="form-control"
                  [(ngModel)]="examPausable"
                  #pausable="ngModel">
                  <mat-radio-button [value]="true">Yes</mat-radio-button>&nbsp;&nbsp;&nbsp;
                  <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/invite/start_date</mat-label>
                  <input matInput type="date"
                    id="examStartDate"
                    name="examStartDate"
                    class="form-control" 
                    maxlength="100"
                    [(ngModel)]="startDate"
                    #examStartDate="ngModel"
                    min="{{today | date:'yyyy-MM-dd'}}"
                    [ngClass]="{ 'is-invalid': examStartDate.touched && examStartDate.value === '' }"
                    required>
                </mat-form-field>
                <span id="startDate-error" class="form-error" translate hidden>
                  teacher/exam/invite/please_add_valid_startdate
                </span>
              </div>
              <div class="form-group" *ngIf="examPausable">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/invite/end_date</mat-label>
                  <input matInput type="date"
                    id="examEndDate"
                    name="examEndDate"
                    class="form-control" 
                    maxlength="100"
                    [ngModel]="endDate"
                    #examEndDate="ngModel"
                    min="{{startDate | date:'yyyy-MM-dd'}}"
                    [ngClass]="{ 'is-invalid': examEndDate.touched && examEndDate.value === '' }"
                    required>
                </mat-form-field>
                <span id="endDate-error" class="form-error" translate hidden>
                  teacher/exam/invite/please_add_valid_enddate
                </span>
              </div>
              <div class="form-group" *ngIf="!examPausable">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/invite/end_date</mat-label>
                  <input matInput type="date"
                    id="examEndDate"
                    name="examEndDate"
                    class="form-control" 
                    maxlength="100"
                    [ngModel]="endDate"
                    min="{{startDate | date:'yyyy-MM-dd'}}"
                    #examEndDate="ngModel">
                </mat-form-field>
              </div>
              <div class="form-group" style="margin-top: 1rem !important;"
                *ngIf="!examPausable">
                <mat-label translate
                  class="label">teacher/exam/invite/start_time
                </mat-label>
                <ngb-timepicker
                  id="examStartTime"
                  name="examStartTime"
                  [ngModel]="initialData?.examStartTime"
                  #examStartTime="ngModel"
                  [meridian]="true">
                </ngb-timepicker>
                <span style="margin-top: -10px;" id="startTime-error" class="form-error" translate hidden>
                  teacher/exam/invite/please_add_valid_starttime
                </span>
              </div>
              <div class="form-group row" style="justify-content: space-between; padding-top: 20px;">
                <button mat-raised-button 
                  color="primary"
                  (click)="scroll(top)"
                  type="submit">
                  {{ 'teacher/exam/invite/edit_invite'| translate }}
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>