.label {
  transform: translateY(-1.34375em) scale(0.75);
  width: 133.3333333333%;
  transform-origin: 0 0;
  color: rgba(0,0,0,.6);
  display: inline-block;
  top: 1.34375em;
  position: relative;
}