<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          {{ 'teacher/exams' | translate }}
        </li>
      </ol>
    </nav>
    <h1 class="header-title" translate>
      teacher/exams
    </h1>
    <div class="row">
      <div class="col-md-12">
        <div class="mat-elevation-z8">
          <div class="pl-2 row">
            <mat-form-field [style.width.%]=100 appearance="standard">
              <input matInput (keyup)="applyExamFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
          <div *ngIf="initialData?.examTransfers.length < 1">
            <p style="text-align: center;" class="lighter-font" translate>
              student/exam/section/no_exam_info
            </p>
          </div>
          <table *ngIf="initialData?.examTransfers.length > 0"
            matSort mat-table multiTemplateDataRows [dataSource]="exams">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
              <td mat-cell *matCellDef="let exam">
                <span>{{exam.name}}</span>
              </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
              <td mat-cell *matCellDef="let exam">
                <div class="lighter-font description">{{exam.description}}</div>
              </td>
            </ng-container>

            <!-- View Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>View Exam</th>
              <td mat-cell *matCellDef="let exam">
                <div class="lighter-font description" *ngIf="exam.examinprogress">Exam in progress</div>
                <div class="lighter-font description" *ngIf="exam.examNotStarted">Exam has not started</div>
                <div class="lighter-font description" *ngIf="exam.viewResults">Exam complete</div>
              </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td mat-cell *matCellDef="let exam">
                <button mat-raised-button 
                  *ngIf="exam.examinprogress"
                  color="warn"
                  routerLink="/student/exam/examinprogress/{{exam.examTokenId}}">
                    Resume
                </button>
                <button mat-raised-button 
                  *ngIf="exam.examNotStarted"
                  color="accent"
                  routerLink="/student/exam/detail"
                  [queryParams]="{token: exam.token }">
                    View exam details
                </button>
                <button mat-raised-button 
                  *ngIf="exam.viewResults"
                  color="primary"
                  routerLink="/student/exam/result/{{exam.examTokenId}}">
                    View results
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="examsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: examsColumns;" class="example-element-row"></tr>
          </table>
          <mat-paginator [length]="100"
              [pageSize]="20"
              [pageSizeOptions]="[5, 10, 20, 100]"
              showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
