  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" *ngIf="!parentService.hidePrivateHeader">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">ExamInProgress</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <a mat-stroked-button class="login-button" routerLink="/login" (click)="logout()" routerLinkActive="active-link">Logout</a>
    </div>
  </header>

  <header id="header" class="fixed-top" *ngIf="!parentService.hidePublicHeader">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">ExamInProgress</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a style="color: #2d405f;" href="#features">Features</a></li>
          <li><a style="color: #2d405f;" href="#steps">Steps</a></li>
          <li><a style="color: #2d405f;" href="#pricing">Pricing</a></li>
          <li><a style="color: #2d405f;" href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <a mat-stroked-button class="login-button" routerLink="/login" routerLinkActive="active-link">Login</a>

      <a href="/register" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header>
  <!-- End Header -->

    <router-outlet></router-outlet>

  <app-footer></app-footer>
