<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" translate>
          generic/dashboard
        </li>
      </ol>
    </nav>
    <div class="col-md-8 col-lg-8 mx-auto" style="display: flex; flex-wrap: wrap;">
      <div class="col-lg-6 col-md-6 mt-4">
        <mat-card>
          <a routerLink="/teacher/exams">
            <div class="card-body" translate>
              teacher/exams
            </div>
          </a>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 mt-4">
        <mat-card>
          <a routerLink="/teacher/examrooms/rooms">
            <div class="card-body" translate>
              teacher/exam_rooms
            </div>
          </a>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 mt-4">
        <mat-card>
          <a routerLink="/teacher/results/exams">
            <div class="card-body" translate>
              teacher/exam_results
            </div>
          </a>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 mt-4">
        <mat-card>
          <a routerLink="/teacher/tokens">
            <div class="card-body" style="padding: .63rem;" translate>
              teacher/exam_tokens
              <div style="font-size: x-small">{{ tokens }}</div>
            </div>
          </a>
        </mat-card>
      </div>
    </div>
  </div>
</div>
