<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/view" translate>
            teacher/exams
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'teacher/exam/create' | translate }}
        </li>
      </ol>
    </nav>
    <h1 class="header-title" translate>
      teacher/exam/create_an_exam
    </h1>
    <form #exam="ngForm">
      <div class="row">
        <div class="col-md-8 col-lg-8 mx-auto">
          <mat-card>
            <div class="card-body">
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/name</mat-label>
                  <input matInput type="text"
                    id="name"
                    name="name"
                    class="form-control" 
                    maxlength="100"
                    ngModel
                    #name="ngModel"
                    [ngClass]="{ 'is-invalid': name.touched && name.value === '' }"
                    placeholder="{{ 'teacher/exam/type_name' | translate }}"
                    required>
                </mat-form-field>
                <span id="name-error" class="form-error" translate hidden>
                  teacher/exam/please_type_name
                </span>
              </div>
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/description</mat-label>
                  <textarea matInput type="text"
                    id="description"
                    name="description"
                    class="form-control" 
                    maxlength="1024"
                    ngModel
                    #description="ngModel"
                    placeholder="{{ 'teacher/exam/type_description' | translate }}">
                  </textarea>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/start_date</mat-label>
                  <input matInput type="date"
                    id="startDate"
                    name="startDate"
                    class="form-control" 
                    ngModel
                    #startDate="ngModel"
                    [ngClass]="{ 'is-invalid': startDate.touched && startDate.value === '' }"
                    placeholder="{{ 'teacher/exam/type_start_date' | translate }}"
                    required>
                </mat-form-field>
                <span id="date-error" class="form-error" translate hidden>
                  teacher/exam/please_type_start_date
                </span>
              </div>
              <div class="row" style="justify-content: space-between; margin: 0;">
                <div class="form-group">
                  <mat-label translate
                    style="color: #7f7f7f; font-size: 14px;">teacher/exam/start_time
                  </mat-label>
                  <ngb-timepicker
                    id="startTime"
                    name="startTime"
                    ngModel
                    #startTime="ngModel"
                    [ngClass]="{ 'is-invalid': startTime.touched && startTime.value === '' }"
                    required>
                  </ngb-timepicker>
                  <span style="margin: 0;" id="time-error" class="form-error" translate hidden>
                    teacher/exam/please_type_start_time
                  </span>
                </div>
                <div class="form-group">
                  <mat-label translate
                    style="color: #7f7f7f; font-size: 14px;">teacher/exam/duration
                  </mat-label>
                  <ngb-timepicker
                    id="duration"
                    name="duration"
                    ngModel
                    #duration="ngModel"
                    [ngClass]="{ 'is-invalid': duration.touched && duration.value === '' }"
                    required>
                  </ngb-timepicker>
                  <span style="margin: 0;" id="duration-error" class="form-error" translate hidden>
                    teacher/exam/please_type_duration
                  </span>
                </div>
              </div>
              <div class="form-group">
                <br><br>
                <button mat-raised-button 
                  color="primary"
                  type="submit">
                  {{ 'generic/create'| translate }}
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>