<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/view">
            {{examName}}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'teacher/exam/section/edit_section' | translate }}
        </li>
      </ol>
    </nav>
    <h1 class="header-title" translate>
      teacher/exam/section/edit_section
    </h1>
    <form #editSection="ngForm" (ngSubmit)="onSubmit(editSection)">
      <div class="row">
        <div class="col-md-8 col-lg-8 mx-auto">
          <mat-card>
            <div class="card-body">
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/section/name</mat-label>
                  <input matInput type="text"
                    id="name"
                    name="name"
                    class="form-control" 
                    maxlength="100"
                    [ngModel]="initialData?.name"
                    #name="ngModel"
                    [ngClass]="{ 'is-invalid': name.touched && name.value === '' }"
                    required>
                </mat-form-field>
                <span id="name-error" class="form-error" translate hidden>
                  teacher/exam/section/please_type_section_name
                </span>
              </div>
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>teacher/exam/section/description</mat-label>
                  <textarea matInput type="text"
                    id="description"
                    name="description"
                    class="form-control" 
                    maxlength="1024"
                    [ngModel]="initialData?.description"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="9"
                    #description="ngModel">
                  </textarea>
                </mat-form-field>
              </div>
              <div class="form-group" *ngIf="initialData?.duration !== null">
                <mat-label translate
                  style="color: #7f7f7f; font-size: 14px;">teacher/exam/duration
                </mat-label>
                <ngb-timepicker
                  id="duration"
                  name="duration"
                  [ngModel]="initialData?.duration"
                  #duration="ngModel"
                  [ngClass]="{ 'is-invalid': duration.touched && duration.value === '' }"
                  required>
                </ngb-timepicker>
                <span style="margin: 0;" id="duration-error" class="form-error" translate hidden>
                  teacher/exam/please_type_duration
                </span>
              </div>
              <div class="form-group row" style="justify-content: space-between; padding-top: 20px;">
                <button mat-raised-button 
                  color="primary"
                  type="submit">
                  {{ 'teacher/exam/section/edit_section'| translate }}
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>