<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/view">
            {{examName}}
          </a>
        </li>
        <li class="breadcrumb-item active" translate>
          {{ 'teacher/exam/section/view_section' | translate }}
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-12 mx-auto">
        <mat-card>
          <div class="card-header">
            {{initialData?.name}}
            <div class="float-right">
              <mat-icon
                class="icon-button"
                routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{sectionId}}/edit">
                  edit
              </mat-icon>&nbsp;
              <mat-icon
                class="icon-button"
                color="warn">
                  delete
              </mat-icon>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="initialData?.description !== ''" class="description-div">{{initialData?.description}}</div>
          </div>
        </mat-card>
        <br>
        <mat-card>
          <div class="header card-header" translate>
            teacher/exam/section/questions
            <button mat-stroked-button 
              routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{sectionId}}/{{sectionName}}/question/add"
              class="float-right"
              color="primary"
              type="button">
              {{ 'teacher/exam/section/question/add_question'| translate }}
            </button>
          </div>
          <br>
          <div *ngIf="initialData?.questionTransfers.length < 1">
            <p style="text-align: center;" class="lighter-font" translate>
              teacher/exam/section/section_questions_info
            </p>
          </div>
          <div *ngIf="initialData?.questionTransfers.length > 0">
            <div class="pl-2">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field>
            </div>
            <table matSort mat-table multiTemplateDataRows [dataSource]="questions">
              <!-- Question Column -->
              <ng-container matColumnDef="question">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Question </th>
                <td mat-cell *matCellDef="let question">
                  <div class="question">{{question.questionText}}</div>
                </td>
              </ng-container>

              <!-- Score Column -->
              <ng-container matColumnDef="questionType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Question Type</th>
                <td mat-cell *matCellDef="let question">
                  <div *ngIf="question.questionType === 'Comprehension question'" translate>
                    Comprehension
                  </div>
                  <div *ngIf="question.questionType === 'Question'" translate>
                    Normal
                  </div>
                </td>
              </ng-container>

              <!-- View Column -->
              <ng-container matColumnDef="viewQuestion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>View Question</th>
                <td mat-cell *matCellDef="let question">
                  <a routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{sectionId}}/{{sectionName}}/question/{{question.questionId}}/view" translate>
                    <mat-icon class="eye-icon">remove_red_eye</mat-icon>
                    generic/view                    
                  </a>
                </td>
              </ng-container>

              <!-- Delete Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                <td mat-cell *matCellDef="let question">
                  <mat-icon
                    class="icon-button"
                    routerLink="/teacher/exam/{{examId}}/{{examName}}/edit">
                      edit
                  </mat-icon>&nbsp;
                  <mat-icon
                    class="icon-button"
                    color="warn">
                      delete
                  </mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="questionColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: questionColumns;" class="example-element-row"></tr>
            </table>
            <mat-paginator [length]="100"
                [pageSize]="20"
                [pageSizeOptions]="[5, 10, 20, 100]"
                showFirstLastButtons>
            </mat-paginator>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>