<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/view">
            {{examName}}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{sectionId}}/{{sectionName}}/view">
            {{sectionName}}
          </a>
        </li>
        <li class="breadcrumb-item active" translate>
          {{ 'teacher/exam/section/question/view_question' | translate }}
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-md-8 col-lg-8 mx-auto">
        <h1 class="header-title" translate>
          teacher/exam/section/question/view_question
        </h1>
        <div *ngIf="initialData?.comprehensionQuestion">
          <mat-card>
            <p style="text-align: center;" class="lighter-font" translate>
              teacher/exam/section/comprehension
            </p>
            <div class="card-body">
              {{initialData?.comprehensionQuestionTransfer.question}}<br><br>
              <div *ngIf="initialData?.comprehensionQuestionTransfer.duration != null" class="form-group  duration-div"><b>
                The total time set for all the questions in this comprehension question is:<br>
                <span *ngIf="time.hour > 1">{{time.hour}} hours</span>
                <span *ngIf="time.hour === 1">{{time.hour}} hour</span>
                <span *ngIf="time.minute > 1">{{time.minute}} minutes</span>
                <span *ngIf="time.minute === 1">{{time.minute}} minute</span>
                <span *ngIf="time.second > 1">{{time.second}} seconds</span>
                <span *ngIf="time.second === 1">{{time.second}} second</span>
              </b></div>
            </div>
            <div style="display: flex; justify-content: flex-start; align-items: center;">
              <button mat-button 
                routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{sectionId}}/{{sectionName}}/question/
                  {{questionId}}/edit"
                color="primary"
                type="button">
                {{ 'teacher/exam/section/question/edit_caps'| translate }}
              </button>
              <mat-icon
                class="icon-button"
                color="warn"
                (click)="deleteQuestionConfirmation(deleteQuestion, questionId, false)">
                  delete
              </mat-icon>
            </div>
          </mat-card><br><br>
          <div *ngFor="let questionTransfer of initialData?.comprehensionQuestionTransfer.questionTransfers">
            <mat-card>
              <div class="card-body">
                <div>{{questionTransfer.questionText}}</div><br>
                <span><b>Score:</b> {{questionTransfer.score}}</span>
                <div *ngIf="questionTransfer.multipleChoiceAnswerTransfers.length > 0"
                  class="description-div">
                  <div style="display: flex;"
                    *ngFor="let answerTransfer of questionTransfer.multipleChoiceAnswerTransfers; let i=index">
                    <mat-radio-button
                      *ngIf="answerTransfer.answerType === 'Multiple choice single answer'"
                      [checked]="answerTransfer.correct"
                      [disabled]="true">
                    </mat-radio-button>
                    <div *ngIf="answerTransfer.answerType === 'Multiple choice multiple answers'">
                      <mat-checkbox
                        [checked]="answerTransfer.correct"
                        [disabled]="true">
                      </mat-checkbox>&nbsp;&nbsp;
                    </div>
                    <div class="form-group" style="width: 60%;">
                      <div class="answer">{{answerTransfer.answerText}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="display: flex; justify-content: flex-start; align-items: center;">
                <button mat-button 
                  routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{sectionId}}/{{sectionName}}/question/
                    {{questionTransfer.questionId}}/edit"
                  color="primary"
                  type="button">
                  {{ 'teacher/exam/section/question/edit_question_caps'| translate }}
                </button>
                <mat-icon
                  class="icon-button"
                  color="warn"
                  (click)="deleteQuestionConfirmation(deleteQuestion, questionTransfer.questionId, true)">
                    delete
                </mat-icon>
              </div>
            </mat-card><br>
          </div>
        </div>
        <div *ngIf="!initialData?.comprehensionQuestion">
          <mat-card>
            <div class="card-body">
              <div>{{initialData?.questionTransfer.questionText}}</div><br>
              <span><b>Score:</b> {{initialData?.questionTransfer.score}}</span><br>
              <span><b>Duration:&nbsp;</b> 
                <span *ngIf="time.hour > 1">{{time.hour}} hours&nbsp;</span>
                <span *ngIf="time.hour === 1">{{time.hour}} hour&nbsp;</span>
                <span *ngIf="time.minute > 1">{{time.minute}} minutes&nbsp;</span>
                <span *ngIf="time.minute === 1">{{time.minute}} minute&nbsp;</span>
                <span *ngIf="time.second > 1">{{time.second}} seconds</span>
                <span *ngIf="time.second === 1">{{time.second}} second</span>
              </span>
              <div *ngIf="initialData?.questionTransfer.multipleChoiceAnswerTransfers.length > 0"
                class="description-div">
                <div style="display: flex;"
                  *ngFor="let answerTransfer of initialData?.questionTransfer.multipleChoiceAnswerTransfers; let i=index">
                  <mat-radio-button
                    *ngIf="answerTransfer.answerType === 'Multiple choice single answer'"
                    id="answer_radio_{{i}}"
                    name="answer_radio_{{i}}"
                    [checked]="answerTransfer.correct"
                    [disabled]="true">
                  </mat-radio-button>
                  <mat-checkbox
                    *ngIf="answerTransfer.answerType === 'Multiple choice multiple answers'"
                    id="answer_radio_{{i}}"
                    name="answer_radio_{{i}}"
                    [checked]="answerTransfer.correct"
                    [disabled]="true">
                  </mat-checkbox>&nbsp;&nbsp;
                  <div class="form-group" style="width: 60%;">
                    <div class="answer">{{answerTransfer.answerText}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div style="display: flex; justify-content: flex-start; align-items: center;">
              <button mat-button 
                routerLink="/teacher/exam/{{examId}}/{{examName}}/section/{{sectionId}}/{{sectionName}}/question/
                  {{initialData?.questionTransfer.questionId}}/edit"
                color="primary"
                type="button">
                {{ 'teacher/exam/section/question/edit_question_caps'| translate }}
              </button>
              <mat-icon
                class="icon-button"
                color="warn"
                (click)="deleteQuestionConfirmation(deleteQuestion, initialData?.questionTransfer.questionId, false)">
                  delete
              </mat-icon>
            </div>
          </mat-card><br>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteQuestion>
  <div class="modal-body text-center">
    <div class="modal-header">
      <label><b translate>teacher/exam/section/question/delete_question</b></label>
    </div>
    <div class="modal-body">
      <p>
        {{ 'teacher/exam/section/question/delete_question_info' | translate }}
      </p>
    </div>
    <div class="modal-footer" style="justify-content: space-between;">
      <button mat-raised-button 
        color="primary"
        (click)="deleteQuestionConfirmed()"
        type="button">
        {{ 'generic/yes'| translate }}
      </button>
      <button mat-stroked-button 
        color="primary"
        (click)="decline()"
        type="button">
        {{ 'generic/no'| translate }}
      </button>
    </div>
  </div>
</ng-template>