<div #top></div>
<div class="content" role="main">
  <div class="container" style="padding-top: 10px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/teacher/dashboard" translate>
            generic/dashboard
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exams" translate>
            {{ 'teacher/exams' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/view">
            {{examName}}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/teacher/exam/{{examId}}/{{examName}}/invites">
            {{ 'teacher/exam/invite/invites' | translate }}
          </a>
        </li>
        <li class="breadcrumb-item active">
          {{ 'teacher/exam/invite/send_invite' | translate }}
        </li>
      </ol>
    </nav>
    <h1 class="header-title" translate>
      teacher/exam/invite/send_invite
    </h1>
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>
          {{ 'teacher/exam/invite/invite_method' | translate }}
        </ng-template><br>
        <div class="row">
          <div class="col-md-10 col-lg-10 mx-auto">
            <mat-card>
              <div class="card-body">
                <p style="text-align: center;" class="lighter-font" translate>
                  teacher/exam/invite/invite_method_info
                </p>
                <mat-radio-group [(ngModel)]="inviteMethod" name="inviteMethod" aria-label="Select an option" (click)="stepper.next()">
                  <mat-radio-button value="inviteCode">
                    <span style="white-space: normal;">
                      <b style="font-weight: 500;">Invite by sharing link:</b> In this method, we will provide you with a link to the exam for this invite.
                      You will share this link to anyone you would like to do the exam. Anyone with access to this ink will be able to do this exam.
                    </span>
                  </mat-radio-button><br><br>
                  <mat-radio-button value="token">
                    <span style="white-space: normal;">
                      <b style="font-weight: 500;">Invite by email:</b> In this method, an email will be sent to the one intended to do this exam with 
                      an access code. You will need to know the emails of the people you would like to do this exam beforehand.
                    </span>
                  </mat-radio-button>
                </mat-radio-group>          
                <div>
                  <br>
                  <button mat-stroked-button 
                    matStepperNext
                    color="primary">
                    {{ 'generic/next'| translate }}
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          {{ 'teacher/exam/invite/send_invite' | translate }}
        </ng-template><br>
        <div class="row">
          <div class="mx-auto">
            <mat-card style="margin-top: 10px;">
              <div class="card-body" *ngIf="inviteMethod === 'token'">
                <p class="lighter-font" translate>
                  teacher/exam/invite/send_invite_info
                </p>
                <div *ngIf="response !== undefined && response.tokensError" class="alert alert-warning">
                  <p>Error! You do not have enough tokens. When sending an invite, a token is 
                    required. Click the button below to add more tokens.
                  </p>
                  <button mat-raised-button
                    color="primary"
                    type="button"
                    routerLink="/teacher/tokens">
                    Add more tokens
                  </button>
                </div>
                <div *ngIf="response !== undefined && response.unsentEmails.length > 0" class="alert alert-warning">
                  <p>Invites to the following emails have not been created or sent to their emails.
                    Take a note of the emails and resend the invites.
                  </p>
                  <span *ngFor="let email of response.unsentEmails" class="border border-danger rounded pl-1 pr-1 mr-1">
                    {{email}}
                  </span>
                </div>
                <div *ngIf="invalidEmails.length > 0 && !response.tokensError" class="alert alert-warning">
                  <p>The following emails were found to be invalid and an invite was not sent to them.
                  Please rectify the emails and try again.</p>
                  <span *ngFor="let email of invalidEmails" class="border border-danger rounded pl-1 pr-1 mr-1">
                    {{email}}
                  </span>
                </div>
                <form #sendInvite="ngForm" (ngSubmit)="onSubmit(sendInvite)">
                  <div class="d-flex flex-wrap">
                    <div class="col-11" style="padding: 0;">
                      <mat-form-field appearance="standard">
                        <mat-label translate>teacher/exam/invite/email_list</mat-label>
                        <textarea matInput
                          class="form-control" 
                          name="emails" 
                          placeholder="e.g example1@email.com, example2@email.com"
                          maxlength="1024"
                          ngModel
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="5"
                          cdkAutosizeMaxRows="9"
                          required>
                        </textarea>
                      </mat-form-field>
                    </div>
                    <div class="form-group d-flex justify-content-between" style="width: 90%;">
                      <button mat-raised-button 
                        class="mr-auto"
                        color="primary"
                        (click)="scroll(top)"
                        type="submit">
                        {{ 'teacher/exam/invite/send_invite'| translate }}
                      </button>
                      <button mat-raised-button 
                        color="primary"
                        routerLink="/teacher/exam/{{examId}}/{{examName}}/invite/{{inviteId}}/view"
                        type="button">
                        {{ 'generic/skip'| translate }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-body" *ngIf="inviteMethod === 'inviteCode'">                
                <p style="text-align: center;" class="lighter-font" translate>
                  teacher/exam/invite/copy_invite_link
                </p>
                <div class="d-flex;" [matTooltip]="copyState" (click)="changeCopyState()">
                  <button mat-stroked-button 
                    color="primary"
                    style="background-color: powderblue; border-radius: 0"
                    [cdkCopyToClipboard]="initialData?.inviteCode"
                    type="button">
                    <span translate>generic/copy</span>
                  </button>
                  <span class="link" [cdkCopyToClipboard]="initialData?.inviteCode">{{initialData?.inviteCode}}</span>
                </div>
                <br>
                <button mat-raised-button 
                  color="primary"
                  routerLink="/teacher/exam/{{examId}}/{{examName}}/invite/{{inviteId}}/view"
                  type="button">
                  {{ 'generic/next'| translate }}
                </button>
              </div>
            </mat-card><br>
            <div class="form-group row">
              <button mat-stroked-button 
                matStepperPrevious
                type="button"
                color="primary">
                {{ 'generic/back'| translate }}
              </button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>