.intro-header {
  text-align: left;
  font-weight: lighter;
  font-size: xx-large;
  padding-top: 1em;
}

.intro-p {
  font-size: large;
  opacity: .8;
  padding-top: 1em;
}

.landing-content{
  display: grid;
  grid-template-columns: auto;
  padding: 1rem;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .landing-content {
    grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );
  }
}

.landing-content-lg{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .intro {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    margin-top: 50px;
    justify-content: flex-start;
  }
}

.teacher-img {
  height: 300px;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .teacher-img {
    height: auto;
  }
}

.features {
  display: grid;
  grid-template-columns: auto;
}

@media (min-width: 768px) {
  .features {
    grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );
  }
}

@media (min-width: 992px) {
  .features {
    grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) );
  }
}

.feature {
  padding: 3rem;
}

@media (min-width: 992px) {
  .teacher-img {
    width: auto;
  }
}

.create-button {
  margin-top: 2rem;
}

.support-container {
  display: flex;
  flex-wrap: wrap;
}