<div class="landing-content">
  <div class="intro">
    <h1 class="intro-header">Secure online exams from your remote comfort</h1>
    <p class="intro-p">Imagine being able to create exams, schedule when they should be done, monitor, assess and grade from your device.</p>
    <div class="create-button">
      <button mat-raised-button 
        color="primary"
        type="button">
        Get Started
      </button>
    </div>
  </div>
  <img src="/assets/images/teacher.png" class="teacher-img">
</div>

<div class="feature" style="background-color: whitesmoke;">
  <h2>Create an Exam, get people to do it online and have their results graded</h2>
  <p class="text-muted" style="font-size: large;">
    We provide you with a simple and seemless way of creating an exam.You can add sections
    to the exam and questions for each sections. You will invite people to do your exam
    at the time of your choosing. When one has completed an exam you will be able to see
    how he /she has performed and the points they earned. Interesting, isn't it?
  </p>
</div>
<div class="feature" style="background-color: whitesmoke;">
  <h2>Exam &amp; Data Security</h2>
  <p class="text-muted">We understand that security of exam is very important to you. This is why
    we have taken the necessary steps to maximize this.
  </p>
</div>
<div class="feature">
  <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
    <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
  </svg>
  <h2>Exam Monitor</h2>
  <p class="text-muted">Get to see how people are doing the exam real time</p>
</div>
<div class="feature" style="background-color: whitesmoke;">
  <h2>Analysis &amp; Reports</h2>
  <p class="text-muted">Advanced analytics that provides in-depth, informative reports for each exam,
    section, candidate or performance.
  </p>
</div>
<div class="feature">
  <h2>Customer Support</h2>
  <div class="support-container">
    <div style="flex-basis: 0; flex-grow: 1; font-size: large;">
      <p class="text-muted">We want you to have the simplest, easiest online exam experience possible.
        But we know you might have a few questions. We are closer than you think.
      </p>
      <a href="tel:+254705622181">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2f8eed" class="bi bi-telephone-outbound-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <span style="color: black; padding-left: 2em;">Call us on: +254 705 622 181</span>
      </a>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2f8eed" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
        </svg>
        <span style="color: black; padding-left: 2em;">Send us an email to: info@examinprogress.com</span>
      </div>
    </div>
    <form style="flex-basis: 0; flex-grow: 1;" #messageForm="ngForm" (ngSubmit)="onSendMessage(messageForm)">
      <div class="row">
        <div class="col-md-10 col-lg-10 mx-auto">
          <mat-card>
            <div class="card-body">
              <h3>Send us a message</h3>
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>Name</mat-label>
                  <input matInput type="text"
                    id="name"
                    name="name"
                    class="form-control" 
                    maxlength="100"
                    ngModel
                    #name="ngModel"
                    [ngClass]="{ 'is-invalid': name.touched && name.value === '' }"
                    required>
                </mat-form-field>
                <span id="name-error" class="form-error" translate hidden>
                  Please type name
                </span>
              </div>
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>Email</mat-label>
                  <input matInput type="email"
                    id="email"
                    name="email"
                    class="form-control" 
                    maxlength="100"
                    ngModel
                    #email="ngModel"
                    [ngClass]="{ 'is-invalid': email.touched && email.value === '' }"
                    required>
                </mat-form-field>
                <span id="email-error" class="form-error" translate hidden>
                  Please type email
                </span>
              </div>
              <div class="form-group">
                <mat-form-field appearance="standard">
                  <mat-label translate>Message</mat-label>
                  <textarea matInput type="text"
                    id="message"
                    name="message"
                    class="form-control" 
                    maxlength="1024"
                    ngModel
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="9"
                    #message="ngModel"
                    required>
                  </textarea>
                </mat-form-field>
                <span id="message-error" class="form-error" translate hidden>
                  Please type in the message
                </span>
              </div>
              <div class="form-group">
                <br><br>
                <button mat-raised-button 
                  color="primary"
                  type="submit">
                  Send
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>
