@media (min-width: 1920px) {
  
  .bg {
    background-image: url('../../assets/images/bg/bg-1920x540.jpg');
    width: 1920px;
    height: 540px;
    margin-left: -330px;
    margin-top: -33px;
  }  
}

@media (min-width: 1440px) {
  
  .bg {
    background-image: url('../../assets/images/bg/bg-1440x405.jpg');
    width: 1440px;
    height: 405px;
    margin-left: -330px;
    margin-top: -33px;
  }  
}