.section-title {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.count-down {
  float: right;
  margin-top: -1.5em;
  font-family: 'digital-clock-font';
  font-size: large;
}