<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto" *ngIf="response?.examTokenNotFound">
        <div class="header-title">
          <h1 translate>student/exam/examinprogress/invalid_token</h1>
        </div>
        <mat-card>
          <div class="card-body">
            The token you have used for the exam is invalid. Please contact your examiner and ask them to send you
            another
            token.
          </div>
        </mat-card>
      </div>
      <div class="col-md-8 mx-auto" *ngIf="response?.examNotFound">
        <div class="header-title">
          <h1 translate>student/exam/examinprogress/exam_not_found</h1>
        </div>
        <mat-card>
          <div class="card-body">
            The exam you are trying to do is no longer available.
          </div>
        </mat-card>
      </div>
      <div class="col-md-8 mx-auto" *ngIf="response?.examExpired">
        <div class="header-title">
          <h1 translate>student/exam/examinprogress/exam_expired</h1>
        </div>
        <mat-card>
          <div class="card-body">
            The time for doing doing this exam has expired. Click to view your results.
          </div>
        </mat-card>
      </div>
      <div class="col-md-8 mx-auto" *ngIf="!response?.examHasStarted">
        <div class="header-title">
          <h1 translate>student/exam/examinprogress/exam_not_started</h1>
        </div>
        <mat-card>
          <div class="card-body">
            The exam has not yet started. The exam will start in --timer
          </div>
        </mat-card>
      </div>
      <div class="col-md-8 mx-auto" *ngIf="response?.examComplete && response?.examHasStarted">
        <div class="header-title">
          <h1 translate>student/exam/examinprogress/exam_complete</h1>
        </div>
        <mat-card>
          <div class="card-body">
            Score - {{ response?.examResult.percentScore }}
            <div *ngFor="let sectionResult of response?.examResult.sectionResults">
              {{ sectionResult.sectionName }} - {{ sectionResult.percentScore }}
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-8 mx-auto" *ngIf="response?.paused">
        <div class="header-title">
          <h1 translate>student/exam/examinprogress/exam_paused</h1>
        </div>
        <mat-card>
          <div class="card-body">
            The exam has been paused.
          </div>
        </mat-card>
      </div>
      <div class="col-md-12 mx-auto"
        *ngIf="!response?.examComplete && !response?.examExpired && response?.examHasStarted && !response?.paused">
        <countdown #countDown 
          *ngIf="response?.timedPerExam"
          [config]="{leftTime: timeLeftInSeconds}" 
          (event)="terminateExam($event)"
          class="text-danger text-center count-down">
            $!h!:$!m!:$!s!
        </countdown>
        <countdown #countDown 
          *ngIf="response?.timedPerSection"
          [config]="{leftTime: timeLeftInSeconds}" 
          (event)="onSectionTimerExpired($event)"
          class="text-danger text-center count-down">
            $!h!:$!m!:$!s!
        </countdown>
        <div>
          <span class="section-title">{{ response?.examSectionTransfer.sectionName }}</span>
          <div class="lighter-font">{{ response?.examSectionTransfer.description }}</div>
        </div><br>
        <mat-card class="col-md-10 mx-auto" style="padding: 2em;">
          <countdown #countDown
            *ngIf="response?.timedPerQuestion && !response?.examSectionTransfer.examQuestionTransfer.comprehensionQuestion"
            [config]="{leftTime: timeLeftInSeconds}" 
            (event)="onQuestionTimerExpired($event)"
            class="text-danger count-down">
              $!h!:$!m!:$!s!
          </countdown>
          <div style="padding-bottom: 2em;">{{ response?.examSectionTransfer.examQuestionTransfer.question }}</div>
          <form #saveAnswers="ngForm" (ngSubmit)="onSubmit(saveAnswers)"
            *ngIf="!response?.examSectionTransfer.examQuestionTransfer.comprehensionQuestion">
            <div *ngIf="response?.examSectionTransfer.examQuestionTransfer.answerType !== 'Text answer'">
              <div *ngFor="let answer of response?.examSectionTransfer.examQuestionTransfer.answerTransfers;
                  trackBy: trackByFn let i=index" class="multiple-choice">
                <div
                  *ngIf="response?.examSectionTransfer.examQuestionTransfer.answerType === 'Multiple choice single answer'">
                  <mat-radio-group name="singleOptions" [ngModel]="selectedRadioOption">
                    <mat-radio-button #singleRadio (change)="getSingleCheckedAnswer(answer.answerId)"></mat-radio-button>
                  </mat-radio-group>
                </div>
                <div
                  *ngIf="response?.examSectionTransfer.examQuestionTransfer.answerType === 'Multiple choice multiple answers'">
                  <mat-checkbox (change)="getMultipleCheckedAnswer($event, answer.answerId)">
                  </mat-checkbox>&nbsp;&nbsp;
                </div>
                <div class="form-group" style="width: 95%;">
                  {{ answer.answer }}
                </div>
              </div>
            </div>
            <div *ngIf="response?.examSectionTransfer.examQuestionTransfer.answerType === 'Text answer'">
              <angular-editor 
                id="answer" 
                [config]="config" 
                name="answer" 
                [(ngModel)]="answerText" 
                #answer="ngModel">
              </angular-editor>
            </div>
            <div class="form-group row" style="justify-content: space-between; padding-top: 20px;">
              <button mat-raised-button color="primary" type="submit">
                {{ 'generic/submit'| translate }}
              </button>
              <button mat-raised-button color="primary" (click)="skipToNextQuestion()" type="button">
                {{ 'generic/skip'| translate }}
              </button>
              <button mat-raised-button *ngIf="response?.pausable" color="primary" (click)="pauseExam()" type="button">
                {{ 'student/exam/examinprogress/pause'| translate }}
              </button>
            </div>
          </form>
        </mat-card><br>
        <mat-card class="col-md-9 mx-auto" style="padding: 2em;"
          *ngIf="response?.examSectionTransfer.examQuestionTransfer.comprehensionQuestion">
          <countdown #countDown
            *ngIf="response?.timedPerQuestion && response?.examSectionTransfer.examQuestionTransfer.comprehensionQuestion"
            [config]="{leftTime: timeLeftInSeconds}" (event)="onQuestionTimerExpired($event)"
            class="text-danger count-down">
            $!h!:$!m!:$!s!
          </countdown>
          <div style="padding-bottom: 2em;">
            {{ response?.examSectionTransfer.examQuestionTransfer.questionTransfer.question }}
          </div>
          <form #saveAnswers="ngForm" (ngSubmit)="onSubmit(saveAnswers)">
            <div
              *ngIf="response?.examSectionTransfer.examQuestionTransfer.questionTransfer.answerType !== 'Text answer'">
              <div *ngFor="let answer of response?.examSectionTransfer.examQuestionTransfer.questionTransfer.answerTransfers;
                  trackBy: trackByFn let i=index" class="multiple-choice">
                <mat-radio-group name="singleOptions" [ngModel]="selectedRadioOption">
                  <div
                    *ngIf="response?.examSectionTransfer.examQuestionTransfer.questionTransfer.answerType === 'Multiple choice single answer'">
                    <mat-radio-button #singleRadio (change)="getSingleCheckedAnswer(answer.answerId)"></mat-radio-button>
                  </div>
                </mat-radio-group>
                <div
                  *ngIf="response?.examSectionTransfer.examQuestionTransfer.questionTransfer.answerType === 'Multiple choice multiple answers'">
                  <mat-checkbox (change)="getMultipleCheckedAnswer($event, answer.answerId)">
                  </mat-checkbox>&nbsp;&nbsp;
                </div>
                <div class="form-group" style="width: 95%;">
                  {{ answer.answer }}
                </div>
              </div>
            </div>
            <div
              *ngIf="response?.examSectionTransfer.examQuestionTransfer.questionTransfer.answerType === 'Text answer'">
              <angular-editor id="answer" [config]="config" name="answer" [(ngModel)]="answerText" #answer="ngModel">
              </angular-editor>
            </div>
            <div class="form-group row" style="justify-content: space-between; padding-top: 20px;">
              <button mat-raised-button color="primary" type="submit">
                {{ 'generic/submit'| translate }}
              </button>
              <button mat-raised-button color="primary" (click)="skipToNextQuestion()" type="button">
                {{ 'generic/skip'| translate }}
              </button>
              <button mat-raised-button *ngIf="response?.pausable" color="primary" (click)="pauseExam()" type="button">
                {{ 'student/exam/examinprogress/pause'| translate }}
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>